/******************* COLORS ************************/
/******************* Animation ************************/
/******************* Global Flex ************************/
/******************* Like Icon ************************/
/******************* Center of the page ************************/
/******************* Photographer Info ************************/
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  font-size: 100%;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

header h1 {
  color: #901C1C;
  margin-right: 100px;
}

header .logo {
  height: 50px;
  margin-left: 100px;
}

.photographers_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.photographers_section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photographers_section article a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.photographers_section article a img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50% 50%;
  -webkit-mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.1) 70%);
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
  -webkit-filter: blur(0.7rem);
          filter: blur(0.7rem);
}

.photographers_section article a h2 {
  color: #D3573C;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
}

.photographers_section article h3 {
  color: #901C1C;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}

.photographers_section article div {
  font-size: 0.6em;
  font-weight: 600;
}

.photographers_section article span {
  color: #525252;
  font-size: 0.6em;
}

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 30px 100px 30px 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.photograph-header .photograph_info article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photograph-header .photograph_info article h2 {
  color: #D3573C;
  font-size: 4em;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.photograph-header .photograph_info article h3 {
  color: #901C1C;
  font-size: 1.5em;
  margin-top: 20px;
}

.photograph-header .photograph_info article div {
  color: #525252;
  font-size: 1.1em;
}

.photograph-header .photograph_picture img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50% 50%;
  -webkit-mask-image: radial-gradient(circle, black 65%, rgba(0, 0, 0, 0.1) 70%);
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
  -webkit-filter: blur(0.7rem);
          filter: blur(0.7rem);
}

.photograph_media {
  margin: 30px 0px 30px 100px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 7%;
  /*grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;*/
}

.photograph_media div img {
  height: 300px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(0.7rem);
          filter: blur(0.7rem);
}

.photograph_media div video {
  height: 300px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph_media div .playMask {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 100px;
  opacity: 1;
  margin-top: -305px;
}

.photograph_media div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #901C1C;
}

.photograph_media div div h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 290px;
}

.photograph_media div div div {
  font-size: 1.5em;
  font-weight: bold;
}

.photograph_media div div div i {
  margin-left: 5px;
}

.photograph_likes {
  background-color: #525252;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */