header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    & h1 {
        color: $color-pri-dark;
        margin-right: 100px;
    }

    & .logo {
        height: 50px;
        margin-left: 100px;
    }

}