#main-wrapper {
    align-items: center;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
 }
  
 .modal {
    align-items: center;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    display: none;
    height: 500px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    z-index: 2;
 }
  
 .no-scroll {
    overflow: hidden;
 }

 /* Global */
.sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border:0
 }
  
/*...................LIGHTBOX..............*/

.lightbox_modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 99%; 
   height: 100%;
   background-color: white;
   z-index: 10;
   transition: opacity .3s;

   & div {
      display: flex;
      & .carousel{
         display: flex;
        // width: 70%;
         margin-left: auto;
         margin-right: auto;
         .carousel-item {
            display: none;
            flex-direction: column;
            //width: 70%;
            margin-left: auto;
            margin-right: auto;
            //height: 75%;
   
            & img {
               width: 1200px;
               height: 900px;
               object-fit: cover;
               scale: 0.9;
            }
      
            & .item-title {
               color : $color-pri-dark;
               font-size: 24px;
               font-weight: 400;
               margin-top: -2px;
            }
         }
   
      }
   }

}

#close{
   color: $color-pri-dark;
   font-size: 50px;
   position: fixed;
   top: 30px;
   right: 8%;
   z-index: 12;
   cursor: pointer;
}

#precedent, #suivant {
   color: $color-pri-dark;
   font-size: 50px;
   position: fixed;
   top: 40%;
   z-index: 12;
   cursor: pointer;
}

#suivant {
   margin-left: 90%;
}
#precedent {
   margin-left: 7%;
}


