/*...................ACCECIBILITY..............*/
 .no-scroll {
    overflow: hidden;
 }

 /* Global */
.sr-only {
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0,0,0,0);
    white-space:nowrap;
    border:0
 }
  
/*...................LIGHTBOX..............*/

.lightbox_modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 99%; 
   height: 100%;
   background-color: white;
   z-index: 10;
   transition: opacity .3s;

   & div {
      display: flex;
      & .carousel{
         display: flex;
         padding-top: 2%;
         margin-left: auto;
         margin-right: auto;
         //& .carousel-item {
            & img {
               width: 50vw;
               height: 80vh;
               object-fit: cover;
            }
            & .play-button {
               background-color: rgba(255, 255, 255, 0);
               position: absolute;
               cursor: pointer;
               display: block;
               visibility: visible;
               opacity: 1;
               transition: all 0.3s;
               font-size: 100px;
               color: white;
               border: 0;
               align-self: center;
            }
            & .item-title {
               color : $color-pri-dark;
               font-size: 24px;
               font-weight: 400;
               margin-top: -2px;
            }
         //}
   
      }
   }

}

/*...................ACTIVE ITEM..............*/
.active-item {
   display: flex;
   flex-direction: column;
}

.active-item-video {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 70vw;
   height: 90vh;
}

.carousel-item {
   display: none;
}


/*...................BUTTONS..............*/
#close{
   color: $color-pri-dark;
   font-size: 50px;
   position: fixed;
   top: 30px;
   right: 8%;
   z-index: 12;
   cursor: pointer;
}

#previous, #next {
   color: $color-pri-dark;
   font-size: 50px;
   position: fixed;
   top: 40%;
   z-index: 12;
   cursor: pointer;
}

#next {
   margin-left: 90%;
}

#previous {
   margin-left: 7%;
}


