#contact_modal {
    display: none;
}

.photograph-header {
    background-color: $color-sec-light;
    height: 300px;
    margin: 30px 100px 30px 100px;
    display: grid; 
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    justify-items: center;

    .photograph_info{

        & article {
            display: flex;
            align-items: center;
            flex-direction: column;
            & h2{
                color: $color-pri-light;
                font-size: 4em;
                font-weight: 500;
                margin-bottom: 0px;
                margin-top: 0px;
                text-align: center;
              }
            & h3{ 
                color: $color-pri-dark;
                font-size: 1.5em;
                margin-top: 20px;
              }
            & div{
                color: $color-sec-dark;
                font-size: 1.1em;
            }
        }
    }

    .photograph_picture{
        & img{
            @include photographer-picture;
        }
    }
}




.photograph_media {
    margin: 30px 100px 30px 100px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    & article {
        & img {
                height: 300px;
                width: 350px;
                object-fit: cover;
                //filter: blur(0.7rem); 
        }
        & video {
            height: 305px;
            width: 355px;
            object-fit: cover;
        }
        & .playMask {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 305px;
            width: 355px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 100px;
            opacity: 1;
            margin-top: -305px;
        }
        & div {
            display: flex;
            font-size: 1em;
            justify-content: space-between;
            align-items: baseline;
            color: $color-pri-dark;
            
            & h3 {
                font-size: 1.5em;
                font-weight: normal;
                margin-top: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 290px;
            }
            & i {
                display: flex;
                flex-flow : row-reverse;
                font-size: 1.5em;
                font-weight: bold;
                & div {
                    margin-right: 5px;   
                }
            }
        }
    }
}

.photograph_likes {
    background-color: $color-pri-light;
    position: sticky;
    bottom: 0;
    right: 0;
    width: 300px;
    margin-left: 70%;
    border-radius: 5px;
    padding: 20px;
    & div {
        font-size: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        font-weight: 600;
        & i {
            display: flex;
            flex-flow : row-reverse;
             
            & .totalLikes {
                font-size: 1.2em;
                margin-right: 5px;
            }
        }
    }
}


#contact_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(255 255 255 / 50%);;
    top: 0;
    color: black;
    overflow: auto;
    & .modal {
        border-radius: 5px;
        background-color: #DB8876;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 600px;
        position: relative;
        margin: 3%;
        margin-left: 25%;
        padding: 0px 40px 40px 40px;
        & header {
            display: flex;
            align-items: baseline;
            height: 200px;
            & h2 {
                font-size: 64px;
                font-weight: normal;
                margin-top: 20px;
            }
        }
        & label {
            color: #312E2E;
            font-size: 36px;
        }

        & textarea {
            width: 600px;
            height: 170px;
            resize: none;
            font-size: 2em;
            border-radius: 7px;
            margin-bottom: 20px
        }
    }
}

input {
            font-size: 2em;
            width: 100%;
            height: 68px;
            border: none;
            border-radius: 5px;
            margin-bottom: 10px
}

#modalSuccess {
    display: none;
    align-items: center;
    justify-content: space-around;
    //min-height: 600px;
    & span {
        position: absolute;
        text-align: center;
        font-size: 3em;
        font-weight: 500;
    }
    & input {
        margin-top: 250%;
        text-align: center;
        overflow: scroll;
        padding: 12px 0 12px;
    }
}

.modal header img {
    cursor: pointer;
}

/**************** Error control ****************/
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 2em;
    font-weight: 600;
    color: $color-pri-dark;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    transition: 0.3s;
  
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
    margin-bottom: 5px;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid $color-pri-dark;
  }
  