/**************** Photographer's Media Gallery ****************/
.photograph_media {
    margin: 30px 100px 30px 100px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    align-content: center;
    justify-content: space-between;
    & article {
        & img {
                height: 300px;
                width: 350px;
                object-fit: cover;
                //filter: blur(0.7rem); 
        }
        & video {
            height: 305px;
            width: 355px;
            object-fit: cover;
        }
        & .playMask {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 305px;
            width: 355px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            font-size: 100px;
            opacity: 1;
            margin-top: -305px;
        }
        & div {
            display: flex;
            font-size: 1em;
            justify-content: space-between;
            align-items: baseline;
            color: $color-pri-dark;
            
            & h3 {
                font-size: 1.5em;
                font-weight: normal;
                margin-top: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 290px;
            }
            & i {
                display: flex;
                flex-flow : row-reverse;
                font-size: 1.5em;
                font-weight: bold;
                & div {
                    margin-right: 5px;   
                }
            }
        }
    }
}
