/**************** Photographer's Media Gallery ****************/
.photograph_media {
    margin: 70px 100px 30px 100px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    align-content: center;
    justify-content: space-between;
    & article {
        & img {
                height: 300px;
                width: 350px;
                object-fit: cover;
                border-radius: 10px;
                cursor: pointer;
                background: $back-color-picks;
                box-shadow: 0px 4px 12px rgb(0 0 0 / 50%); 
                //filter: blur(0.7rem); 
        }
        & .plyr {
            height: 305px;
            width: 355px;
            border-radius: 10px;
            background: $back-color-picks;
            box-shadow: 0px 4px 12px rgb(0 0 0 / 50%); 
        }
        & .playMask {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 305px;
            width: 355px;
            background-color: rgba(0, 0, 0, 0.2);
            color: #fff;
            font-size: 100px;
            opacity: 1;
            margin-top: -305px;
            cursor: pointer;
            border-radius: 10px;
        }
        & div {
            display: flex;
            font-size: 1em;
            justify-content: space-between;
            align-items: baseline;
            color: $color-pri-dark;
            
            & h3 {
                font-size: 1.5em;
                font-weight: normal;
                margin-top: 0px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 290px;
            }
            & i {
                display: flex;
                flex-flow : row-reverse;
                font-size: 1.5em;
                font-weight: bold;
                cursor: pointer;
                // transition: 1s all ease-in-out;
                & div {
                    margin-right: 5px;
                    font-family: "Open Sans";
                }
            }
        }
    }
}

/**************** Like Style ****************/
.active-heart {
    text-shadow: 0 0 0px rgba(0,0,0,0);
    background:-moz-linear-gradient(0deg, $color-pri-light 40%, $color-sec-light 100%); 
    background: -webkit-linear-gradient(0deg, $color-pri-light 40%, $color-sec-light 100%);
    background: linear-gradient(0deg, $color-pri-light 40%, $color-sec-light 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    //transition: 1s all ease-in-out;
  }