/******************* COLORS ************************/
$back-color: #F2F2F2;
$back-color-picks: #C4C4C4;
$color-pri-dark: #901C1C;
$color-pri-light: #D3573C;
$color-sec-dark: #525252;
$color-sec-light: #FAFAFA;



/******************* Sorter ************************/
$num-menu: 3;
$color:white;
$timing:.25s;